{% extends 'base.html.twig' %}

{% block body %}

    
    <div class="container">

        {% for event in events %}
                <div class="row">
                    <div class="col-sm">
                        <ul class="event-list">
                            <li>
                                <time datetime="{{ event.date|date('Y-m-d')}}">
                                    <span class="day">{{ event.date|date('d')}}</span>
                                    <span class="month">{{ event.getDateMonth()}}</span>
                                    <span class="year">{{ event.date|date('Y')}}</span>
                                    <span class="time">{{ event.date|date('H:i')}}</span>
                                </time>
                                <div class="info">
                                    <h2 class="title">{{ event.title }}</h2>
                                    <p class="desc">
                                        {{ event.description|length > 100 ? event.description|slice(0, 100) ~ '...' : event.description  }}
                                    </p>

                                    <ul>
                                        <li style="width:33%;">
                                                {% if event.price == null or event.price == 0 %}
                                                    Nemokamas
                                                {% else %}
                                                    €{{ event.price }}
                                                {% endif %}
                                            <span class="fa fa-tag"></span>
                                        </li>
                                        <li style="width:34%;"><a href="{{ path('event_show', { id: event.id } ) }}">Plačiau <span class="fa fa-info-circle"></span></a></li>

                                        {% if app.user and not is_granted('ROLE_ADMIN') %}
                                            {% if not app.user.hasSubscribedCategory(event.getCategory()) %}
                                                <li style="width:20%;">
                                                    <a href="{{ path('category_subscribe', { id: event.getCategory().id} ) }}">
                                                        Prenumeruoti <i class="fa fa-bell" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            {% else %}
                                                 <li style="width:20%;"><a href="{{ path('category_unsubscribe', { id: event.getCategory().id} ) }}"">Atsaukti prenumerata <i class="fa fa-bell" aria-hidden="true"></i></a></li>
                                            {% endif %}
                                        {% endif %}

                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li style="width:12%;"><a href="{{ path('event_delete', {'id': event.id}) }}" >Ištrinti <i class="fa fa-minus-circle" aria-hidden="true"></i></a></li>
                                            <li style="width:12%;"><a href="{{ path('event_edit', {'id': event.id}) }}">Koreguoti <i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                        {% endif %}
                                    </ul>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

        {% endfor %}

        <div class="for-pages">
            {{ knp_pagination_render(events) }}
        </div>

    </div>
{% endblock %}

