{% extends 'base.html.twig' %}

{% block title %}Recover password!{% endblock %}

{% block body %}
    <form method="post">

    <div class="container">
        {% set formErrors = form.vars.errors.form.getErrors(true) %}
        {{ parent() }}

        {% if error is defined and error is not empty %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Klaida!</strong> {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
         {% endif %}
         {% if success is defined and success is not empty %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Pavyko!</strong> {{ success }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

    <div class="container">
        {{ form_start(form) }}
        {% if action == "reset" %}
        <h1 class="h3 mb-3 font-weight-normal">Prašome įvesti elektroninio pašto adresą</h1>
            Elektroninio pašto adresas: {{ form_widget(form.email) }}<br />
        {% else %}
         <h1 class="h3 mb-3 font-weight-normal">Įrašykite naują slaptažodį</h1>
            {{ form_errors(form.password.first) }}
            Naujas slaptažodis: {{ form_widget(form.password.first) }}<br />
            Pakartokite naują slaptažodį: {{ form_widget(form.password.second) }}<br />
        {% endif %}
        {{ form_errors(form) }}
        {{ form(form, {'method': 'POST'}) }}
    </div>
{% endblock %}